<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    
    <ion-icon slot="end" name="person" *ngIf="isLogged " (click)="logoutClicked()"></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Best app in world.</p>
  <div *ngIf="!isLogged()" >
    <ion-button routerLink="/login" routerDirection="root">Go To Login</ion-button>

    <ion-button (click)="presentModal()">Go To Login Modal</ion-button>
  </div>
  <div *ngIf="isLogged()" >
      <ion-button  (click)="logoutClicked()">Logout</ion-button>
      
    </div>

  
</ion-content>
